{% extends 'rango/base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block title %}Add a category{% endblock %}

{% block body_block %}

    <div class="page-header">
        <h1>Add a category</h1>
    </div>

    <form role="form" id="category_form" method="post" action="{% url 'add_category' %}">
        <h2 class=”form-signin-heading”>Add a Category</h2>
        {% csrf_token %}

        {% bootstrap_form form %}

        <br/>

        <button class="btn btn-primary" type="submit" name="submit">Create Category</button>
    </form>
{% endblock %}