{% extends 'rango/base.html' %}

{% load staticfiles %} <!-- inform Django’s template system that we will be using static media -->

{% block title %}

    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}</h1>
    {% else %}
        <h1>Rango says... hello world!</h1>
    {% endif %}

{% endblock %}

{% block body_block %}

    {% if categories %}
        <ul>
            {% for category in categories %}
                <!-- pass in url parameter like this -->
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categorys represent.</strong>
    {% endif %}

    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- static tag will combine STATIC_URL with rango.jpg-->

    <br />

    <h2>Top 5 pages on Rango</h2>
    {% if pages %}
        <ul>
            {% for page in pages %}
                <li>{{ page.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages.</strong>
    {% endif %}

    <p> visits: {{ visits }}</p>

{% endblock %}